body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  /* color: #333;
  background: #b8b8b8; */
}

a {
  color: black;
}

a.dropdown-toggle:hover {
  background-color: lightgrey !important;
} 

#summary-text {
  font-size: 20px;
  position: relative;
}

#max-temp-figure,
#cloudiness-figure {
  float: left;
}

@media (max-width: 768px) {
  .navbar {
    background-color: darkcyan !important; 
    font-size: 75%;
  }
  
  .navbar-nav {
    background-color: white !important;
  }

  #summary-text {
    font-size: 12px;
  }

  #max-temp-link {
    background:
  }
}